.message-input {
  display: flex;
  align-items: center;
  width: 80%;
  padding: 0.3rem;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 1.5rem;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.04);
}

.message-input__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #ffffff;
  border-radius: 1.2rem;
  padding: 0.4rem 1rem;
}

.message-input__field {
  border: none;
  font-size: 0.95rem;
  outline: none;
}

.message-input__field::placeholder {
  color: #aaa;
}

.message-input__button {
  border: none;
  background-color: #fc8236;
  color: #fff;
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-input__button:hover {
  background-color: var(--chat-gradient-end);
}

.message-input__icon {
  font-size: 1.2rem;
  line-height: 1;
  transform: translateY(-1px);
  /* Or use an SVG/FontAwesome for a fancy arrow icon */
}
